$colors: (
    primary: (
        base:#1BC5BD,
        darker: #1BC5BD90
    ),
    secondary: (
        base: #005B96,
        darker: #005B9690
    ),
    warning:(
        base: #F6CA65
    ),
    white: ( 
        base:#fff
    ),
    black: (
        base:#011F4B
    ),
    grey: (
        base:#F3F6F9
    ),
    dark-grey: (
        base: #7E8299
    ),
    light-blue: (
        base:#F1FAFE
    )
);
